# common aliases for CLI tools
alias ls='ls --color=auto'
alias ll='ls -l --color=auto'
alias la='ls -a --color=auto'

alias dir='dir --color=auto'
alias vdir='vdir --color=auto'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='grep -e --color=auto' # the real egrep is deprecated anyways

# aliases for keyboard layout
alias de='setxkbmap de'
alias us='setxkbmap us'

# aliases for docker
alias dc='docker container'
alias dp='docker ps'
alias di='docker image'
alias dv='docker volume'

# aliases for applications
alias em='emacsclient -nw'
alias vbox='virtualbox'
