# common aliases for CLI tools
alias ls='ls --color=auto'
alias la='ls -a --color=auto'
alias ll='ls -la --color=auto'

alias dir='dir --color=auto'
alias vdir='vdir --color=auto'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='grep -e --color=auto' # the real egrep is deprecated anyways

# alias for brightness
alias b='xrandr --output eDP-1 --brightness'

# aliases for servers
alias ionos='82.165.125.68'

# aliases for keyboard layout
alias de='setxkbmap de'
alias us='setxkbmap us'

# aliases for git
alias gs='git status'
alias ga='git add'
alias gc='git commit'

# aliases for docker
alias dc='docker container'
alias dp='docker ps'
alias di='docker image'
alias dv='docker volume'

# aliases for applications
alias em='emacsclient -nw'
