.Xauthority
.bash_history
.cache
.mozilla
.viminfo
Downloads
backup
.local
.emacs.d
.zcompdump
onedrive
dlang
OneDrive
.gnupg
.config/systemd
.config/Trolltech.conf
.config/keepassx
.config/discord
.python_history
.tldr
.gitconfig
.lesshst
.pki