.Xauthority
.bash_history
.cache
.mozilla
.viminfo
Downloads
backup
.local
.emacs.d
.zcompdump
onedrive
dlang
OneDrive
.gnupg
.config/Trolltech.conf
.config/keepassx
.config/discord
.config/systemd/user/default.target.wants
.config/systemd/user/multi-user.target.wants
.config/libreoffice/
.config/GIMP
.config/QtProject.conf
.config/VirtualBox
.config/dconf
.config/gtk-2.0
.config/wireshark
.java
.matlab
.wget-hsts
VirtualBox VMs
Wordlists
Writeup
Docker
Pictures
.python_history
.tldr
.gitconfig
.lesshst
.pki
.dmenu_cache
.selected_editor
.ssh
.cat_installer
.recently-used
